body {
 background: black;
}

table {
  border-collapse: collapse;
}

table * {
  border: 1px solid;
}

td {
  padding: 5px;
}

thead {
  background: lightgray;
  text-align: center;
  font-weight: 600;
  border: 2px solid green;
}

tbody {
  border: 2px solid darkblue;
  text-align: center;
}

tfoot {
  border: 2px solid red;
  font-weight:bold;
}