<footer th:fragment="footer-bs-4">
    <div class="container">
        <footer class="d-flex justify-content-center align-items-center py-3 my-4">
            <div class="col d-flex justify-content-center align-items-center">
                    <span class="mb-3 mb-md-0 text-muted">© 2023. Training project "LikeTwitter" based on <a
                            href="https://youtube.com/playlist?list=PLU2ftbIeotGpAYRP9Iv2KLIwK36-o_qYk" target="_blank"> "Spring Boot. Разрабатываем веб-приложение с нуля" by letsCode.</a>
                             Designed by Andy
                    </span>
            </div>
        </footer>
    </div>
</footer>