<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <th:block th:replace="~{fragment/head :: bootstrap-head}"></th:block>
    <title>Start page</title>
</head>
<body>
<header th:insert="~{fragment/navbar :: navbar-bs-4}"></header>
<main class="container pt-5">
    <div class="container mt-5">
<!--        <h3 th:inline="text">Hello <span th:remove="tag" sec:authentication="name"> Guest</span>!</h3>-->
        <h4 class="text-center text-info">Hello <span sec:authentication="name"></span>!</h4>
    </div>
</main>
<footer th:replace="~{fragment/footer :: footer-bs-4}"></footer>
</body>
</html>